@page "/autoredicao"
@page "/autoredicao/{id:int}"
@inherits AutorEdicaoBase

<h1 class="page-title">Autor</h1>

@if (@Autor == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        @if (Autor.Id == 0)
        {
            <b>Novo</b>
        }
        else
        {
            <b>Id: </b> @Autor.Id
        }
        <br />

        <EditForm Model="@Autor" OnValidSubmit="@HandleValidSubmit">

            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group row">
                <label for="nome" class="col-sm-3">Nome:</label>
                <InputText @bind-Value="@Autor.Nome" id="nome" class="form-control col-sm-8"></InputText>
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Autor.Nome)" />

                <label for="dataNascimento" class="col-sm-3">Data Nascimento:</label>
                <InputDate @bind-Value="@Autor.DataNascimento" id="dataNascimento" class="form-control col-sm-8"></InputDate>
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Autor.DataNascimento)" />
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
            @if (Autor.Id > 0)
            {
                <button @onclick="Excluir_Click" class="btn btn-danger">Excluir</button>
            }
        </EditForm>

        @if (!string.IsNullOrEmpty(Mensagem))
        {
            <div class="alert @MensagemStatus">@Mensagem</div>
        }

        <br />
        <br />
        <a href="Autores">Voltar</a>
    </div>
}
