@inherits EditAutorDialogBase

<EditDialog @ref="EditDialog" Titulo="@Titulo">
    <Body>
        <EditForm Model="@Autor" OnValidSubmit="@HandleValidSubmit">

            <div class="form-group">
                <label for="nome">Nome:</label>
                <InputText @bind-Value="@Autor.Nome" id="nome" class="form-control"></InputText>
                <ValidationMessage For="@(() => Autor.Nome)" />
            </div>
            <div class="form-group">
                <label for="dataNascimento">Data Nascimento:</label>
                <InputDate @bind-Value="@Autor.DataNascimento" id="dataNascimento" class="form-control"></InputDate>
                <ValidationMessage For="@(() => Autor.DataNascimento)" />
            </div>

            <DataAnnotationsValidator />
            <ValidationSummary />

            <button type="submit" class="btn btn-primary">Salvar</button>
            @if (Autor.Id > 0)
            {
                <a @onclick="Excluir_Click" class="btn btn-danger">Excluir</a>
            }
        </EditForm>
    </Body>
</EditDialog>